
*.suo
Confluence/bin/Debug/*
Confluence/obj/*
_ReSharper.Confluence/*
Confluence/obj/*
Confluence/obj/*
Confluence.suo
Confluence.5.1.ReSharper.user
Confluence.suo
Confluence/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Confluence/obj/x86/Debug/Confluence.pdb
Confluence.suo
Confluence/obj/x86/Debug/Confluence.pdb